.search {
  width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  background-color: #8da52d;
  padding: 1.5em;
  border-radius: 10px;
  margin-bottom: 1.5em;
}
.search h2,
p {
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  font-weight: 500;
}

.searchContainer {
  display: flex;
  gap: 0.4em;
}

.searchContainer input,
button {
  padding: 8px;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #434738;
}

.searchContainer button {
  background-color: #434738;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 391px) {
  .search {
    width: 95%;
    font-size: 0.8em;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
