* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Inter", sans-serif;
  color: #f7f7f7;
}
body {
  background-color: #434738;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
}
/* 
#a5dbdd
#d3e1e2
 */
